<div class="overflow-hidden">
  <!-- banner -->
  <div class="p-8 banner min-h-svh sm:h-[calc(100vh-320px)]">
    <div class="grid place-content-center place-items-center h-full">
      <div class="w-2/3">
        <p class="sm:text-lg md:text-xl text-center text-white">
          A Barbearia Kazue é aquele lugar onde qualidade e descontração andam
          juntas. Aqui, você cuida do visual em um ambiente leve, com bons papos
          e atenção aos detalhes.
        </p>
      </div>
      <a mat-raised-button routerLink="/cadastro" color="accent">Entrar na fila de espera</a>
    </div>
  </div>

  <!-- fila ativa -->
  <div id="fila-ativa" class="mt-4">
    <div class="p-4">
      <div class="max-w-full p-4">
        <div class="">
          @defer (on immediate) {
            <app-usuario class="p-4"></app-usuario>            
          }
        </div>
      </div>
    </div>
  </div>

  <!-- sobre -->
  <div id="sobre" class="mt-4">
    <div class="grid place-content-center place-items-center h-full">
      <div class="w-2/3">
        <h1 class="text-lg text-center">Sobre</h1>
        <p class="text-center">
          Na Kazue Barbearia, a gente manda bem no corte de cabelo, seja no
          estilo clássico ou moderno. Fazemos a sobrancelha com aquele toque
          especial e, claro, temos a barba no capricho – com direito a toalha
          quente e tudo! Se você quer dar aquele destaque, as luzes também são
          nossa especialidade. Tudo feito com muito cuidado e aquele atendimento
          de quem entende do assunto. Aqui, seu estilo é nossa missão!
        </p>
      </div>
    </div>
  </div>

  <!-- serviços -->
  <div id="servicos">
    <div class="grid place-content-center place-items-center h-full">
      <div class="w-full">
        <h1 class="text-center">Serviços</h1>
        <ul
          class="grid place-content-center grid-cols-2 gap-6 list-disc pl-5 mb-4"
        >
          <li>Corte Degradê</li>
          <li>Corte Tesoura</li>
          <li>Corte Afro</li>
          <li>Corte Infantil</li>
          <li>Corte + Penteado</li>
          <li>Barba Express</li>
          <li>Barba (toalha quente)</li>
          <li>Luzes</li>
          <li>Pezinho</li>
          <li>Alisamento</li>
          <li>Sobrancelha</li>
        </ul>
      </div>
      <a
        class="mb-4"
        mat-raised-button
        routerLink="/cadastro"
        color="accent"
        >Entrar na fila de espera</a
      >
    </div>
  </div>

  <!-- contato -->
  <div id="contato">
    <div class="grid place-content-center place-items-center h-full mt-4">
      <div class="w-full">
        <h1 class="text-center">Contato</h1>
        <div class="p-6 rounded-lg text-center">
          <h2 class="text-xl font-bold mb-4">
            Pronto para dar aquele trato no visual?
          </h2>
          <p class="mb-4">
            A Kazue Barbearia está te esperando! Para tirar dúvidas, entre em
            contato conosco.
          </p>

          <a
            href="https://api.whatsapp.com/send?phone=5555119739308"
            class="bg-yellow-500 text-black-600 px-6 py-2 rounded-lg font-semibold hover:bg-yellow-400 transition duration-300"
            >WhatsApp</a
          >

          <a
            href="https://www.instagram.com/kazue_barbearia/"
            class="bg-yellow-500 text-black-600 px-6 py-2 rounded-lg font-semibold hover:bg-yellow-400 transition duration-300 ml-4"
            >Instagram</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
