<footer class="bg-gray-900 text-white py-6 mt-12 overflow-hidden">
    <div class="container mx-auto text-center">
      <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
        <!-- Seção de Links -->
        <div class="space-x-4">
          <a href="home#sobre" class="hover:text-yellow-500 transition duration-300">Sobre</a>
          <a href="home#servicos" class="hover:text-yellow-500 transition duration-300">Serviços</a>
          <a href="home#contato" class="hover:text-yellow-500 transition duration-300">Contato</a>
        </div>
  
        <!-- Endereço -->
        <div class="space-y-2">
          <p>Rua Bonifácio de Abreu, 1146, Pq Itamarati, Itapevi</p>
          <p>Celular: (11) 95242-3103</p>
        </div>
  
        <!-- Redes Sociais -->
        <div class="space-x-4">
          <a href="https://facebook.com/kazuebarbearia" class="hover:text-yellow-500 transition duration-300">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://instagram.com/kazuebarbearia" class="hover:text-yellow-500 transition duration-300">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://twitter.com/kazuebarbearia" class="hover:text-yellow-500 transition duration-300">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
  
      <!-- Copyright -->
      <p class="mt-6 text-sm">&copy; 2024 Kazue Barbearia. Todos os direitos reservados.</p>
    </div>
  </footer>
  